/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #8d8d8d;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);
}
header .container {
  max-width: 1400px;
  max-height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.home {
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);

  margin: 40px auto;
  padding: 20px;
  width: 45%;
  left: 25%;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  height: 300px;
}

.cuHome {
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);

  margin: 40px auto;
  padding: 20px;
  width: 45%;
  left: 25%;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin-left: 30px;
  height: 60%;
}

.cuHome h2 {
  margin: 0 0 20px;
  text-align: center;
}

.home-background {
  background-image: url("./images/home-background.avif"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.copper-background {
  background-image: url("./images/cu-background.avif");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.copper-background-fill {
  background-image: url("./images/cu-background.avif#filter");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.tin-background {
  background-image: url("./images/sn-background.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.tin-background-fill {
  background-image: url("./images/sn-background.jpg"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.home h2 {
  margin: 0 0 20px;
  text-align: center;
}

.anode-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  width: 40%;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin-left: 5%;
}
.anode-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2vw;
  color: var(--primary);
}
.anode-details p {
  margin: 0;
  font-size: 1vw;
  color: #555;
}

label, input {
  display: inline;
}
label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1vw;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.formHeader {
  display: flex;
  color: black;
}

.create {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  /* box-shadow: 2px 2px 5px rgba(0,0,0,0.05); */
  width: 75%;
  padding-bottom: 60px;
  background: rgba(202, 202, 202, 0.66);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);
}

.cu01Form {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 75%;
  padding-bottom: 60px;
}
.cuFormGrid {
  display: grid;
  grid-template-columns: 8% 5% 5% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  margin-bottom: -30px;
}

.cuInputSize {
  overflow-x: scroll;
  /* scrollbar-color: grey transparent; unecessary for now, may add later if decide to make forms glass */
}

.cuInputRows {
  margin-bottom: 30px;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-bottom: -45px;
  width: 234px;
}
input.error {
  border: 1px solid var(--error);
}

.post {
  margin-left: 25px;
  margin-top: 15px;
}

.ring {
  margin-left: 20px;
  margin-top: 15px;
}

.stragglers {
  margin-bottom: 13px;
  margin-left: 20px;
}

.ring2 {
  margin-left: 10px;
}

.listContainer {
  display: grid;
  grid-template-columns: 75px 45px 75px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 50px 45px 45px 50px 45px 45px 45px 45px 50px 45px 45px 45px 45px 45px;
  grid-gap: 1rem;
  font-size: 10px;
  border-bottom: 2px solid black;
  width:max-content;
  padding-right: 25px;
}

.listContainer:nth-child(even) {
  background-color: lightgray;
}

.chemXFormGrid {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 50%;
  margin-top: -5px;
  margin-bottom: -30px;
}

.snSubmit {
  margin-top: 20px;
}

input::placeholder {
  font-size: 75%;
}

.listSnNexx {
  display: grid;
  grid-template-columns: 75px 45px 75px 45px 45px 45px 1075px;
  grid-gap: 1rem;
  font-size: 10px;
  border-bottom: 2px solid black;
  width:max-content;
  padding-right: 25px;
}

.listSnNexx:nth-child(even) {
  background-color: lightgray;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  background: linear-gradient(to bottom, #fff, #f2f2f2);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  max-height: 70vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);
}

.modal-scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.modal-scrollable input {
  width: 25%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff; /* Background for the footer */
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

/* Anode details for Cu and Sn ChemX only */
.anode-details2 {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: rgba(202, 202, 202, 0.66);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(202, 202, 202, 1);
}

.anode-details2 p {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 1rem;
  margin: 0;
  font-size: 1vw;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* Delete and edit buttons on the Cu and Sn ChemX pages */
.anode-details2 span {
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  color: black;
}

.cuChemXColumns {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
  grid-gap: 1rem;
  padding-left: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(202, 202, 202, 0.66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete-confirmation-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: var(--error);
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);
  padding: 20px;
}

.cu01Columns {
  display: grid;
  grid-template-columns: repeat(45, 50px); /* Adjust the number of columns as per your requirement */
  grid-gap: 1rem;
  padding-left: 20px;
  position: sticky;
  top: 0;
  z-index: 101; /* Increase the z-index value */
  background: rgba(202, 202, 202, 0.66);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  padding-right: 22px
}

.cu01AnodeDetails {
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background: rgba(202, 202, 202, 0.66);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  border: 1px solid rgba(202, 202, 202, 1);
}

.cu01AnodeDetails p {
  display: grid;
  grid-template-columns: repeat(45, 50px);
  grid-gap: 1rem;
  margin: 0;
  font-size: 1vw;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 5px; 
}

.cu01C-Ds {
  overflow-x: auto;
}