/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #8d8d8d;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);
}
header .container {
  max-width: 1400px;
  max-height: 50px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

.home {
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);

  margin: 40px auto;
  padding: 20px;
  width: 45%;
  left: 25%;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin-left: 30px;
  height: 300px;
}

.cuHome {
  background: rgba(202, 202, 202, 0.66);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(202, 202, 202, 1);

  margin: 40px auto;
  padding: 20px;
  width: 45%;
  left: 25%;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin-left: 30px;
  height: 60%;
}

.cuHome h2 {
  margin: 0 0 20px;
  text-align: center;
}

.home-background {
  background-image: url("https://images.unsplash.com/photo-1666037801539-f30fd661657a?q=80&w=3474&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.copper-background {
  background-image: url("https://images.unsplash.com/photo-1672307613484-3254a04651fd?q=80&w=3396&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-repeat: repeat-y;
}

.copper-background-fill {
  background-image: url("https://images.unsplash.com/photo-1672307613484-3254a04651fd?q=80&w=3396&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.tin-background {
  background-image: url("https://images.unsplash.com/photo-1568209865332-a15790aed756?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.tin-background-fill {
  background-image: url("https://images.unsplash.com/photo-1568209865332-a15790aed756?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.home h2 {
  margin: 0 0 20px;
  text-align: center;
}

.homeButtons { /* ****************************buttons**************************** */
  width: 350px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.CuButtons {
  width: 350px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.CuNumber {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
  font-size: 10px;
}

.SnButtons {
  width: 350px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.element {
  position: relative;
  font-size: 0.5vw;
  padding-bottom: 100%;
  cursor: pointer;
  color: #fff;
}

.element .square {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.element .atomic-number {
  position: absolute;
  left: 0;
  top: 0;
  padding: 2px;
}

.element .label {
  text-align: center;
  transition: 200ms;
}

.element .symbol {
  font-size: 1.7vw;
}

.element .name {
  font-size: 0.7vw;
}

.element .atomic-mass {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px;
  text-align: center;
}

.element .atomic-weight {
  position: absolute;
  right: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 2px;
  opacity: 0;
  text-align: right;
}
/* Home page buttons */
.CuButton {
  background-color: rgb(255, 174, 0);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.CuButton:hover {
  transform: scale(1.2);
}

.SnButton {
  background-color: rgb(164, 164, 164);
  transition: transform 0.3s ease-in-out;
}

.SnButton:hover {
  transform: scale(1.2);
}

.NiButton {
  background-color: rgb(68, 67, 66);
  transition: transform 0.3s ease-in-out;
}

.NiButton:hover {
  transform: scale(1.2);
}

.InButton {
  background-color: rgb(164, 112, 112);
  transition: transform 0.3s ease-in-out;
}

.InButton:hover {
  transform: scale(1.2);
}

.PbButton {
  background-color: rgb(146, 37, 37);
  transition: transform 0.3s ease-in-out;
}

.PbButton:hover {
  transform: scale(1.2);
}
/* Copper page buttons */
.CuP01 {
  background-color: orange;
  transition: transform 0.3s ease-in-out;
}

.CuP01:hover {
  transform: scale(1.2);
}

.CuP05 {
  background-color: rgb(103, 103, 3);
  transition: transform 0.3s ease-in-out;
}

.CuP05:hover {
  transform: scale(1.2);
}

.CuP09 {
  background-color: rgb(141, 54, 111);
  transition: transform 0.3s ease-in-out;
}

.CuP09:hover {
  transform: scale(1.2);
}

.CuP09DH {
  background-color: rgb(212, 33, 149);
  transition: transform 0.3s ease-in-out;
}

.CuP09DH:hover {
  transform: scale(1.2);
}

.CuP200-3 {
  background-color: rgb(32, 32, 155);
  transition: transform 0.3s ease-in-out;
}

.CuP200-3:hover {
  transform: scale(1.2);
}

.PureCu {
  background-color: rgb(32, 137, 155);
  transition: transform 0.3s ease-in-out;
}

.PureCu:hover {
  transform: scale(1.2);
}

.CuChemX {
  background-color: orangered;
  transition: transform 0.3s ease-in-out;
}

.CuChemX:hover {
  transform: scale(1.2);
}

.eeja {
  background-color: rgb(161, 247, 49);
  transition: transform 0.3s ease-in-out;
}

.eeja:hover {
  transform: scale(1.2);
}

.cu-ebara {
  background-color: rgb(0, 255, 179);
  transition: transform 0.3s ease-in-out;
}

.cu-ebara:hover {
  transform: scale(1.2);
}

.WLP-cu {
  background-color: rgb(13, 0, 255);
  transition: transform 0.3s ease-in-out;
}

.WLP-cu:hover {
  transform: scale(1.2);
}

.WLP-cu-Puck {
  background-color: rgb(225, 0, 255);
  transition: transform 0.3s ease-in-out;
}

.WLP-cu-Puck:hover {
  transform: scale(1.2);
}

.qorvo {
  background-color: rgb(46, 16, 5);
  transition: transform 0.3s ease-in-out;
}

.qorvo:hover {
  transform: scale(1.2);
}
/* Tin page buttons */
.SnNexx {
  background-color: #0056b3;
  transition: transform 0.3s ease-in-out;
}

.SnNexx:hover {
  transform: scale(1.2);
}

.HotCell {
  background-color: purple;
  transition: transform 0.3s ease-in-out;
}

.HotCell:hover {
  transform: scale(1.2);
}

.lam-sn {
  background-color: orangered;
  transition: transform 0.3s ease-in-out;
}

.lam-sn:hover {
  transform: scale(1.2);
}

.acm {
  background-color: red;
  transition: transform 0.3s ease-in-out;
}

.acm:hover {
  transform: scale(1.2);
}

.anode-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  width: 40%;
  display: inline-block;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  margin-left: 5%;
}
.anode-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2vw;
  color: var(--primary);
}
.anode-details p {
  margin: 0;
  font-size: 1vw;
  color: #555;
}
.anode-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label, input {
  display: inline;
}
label {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1vw;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  width: 75px;
  height: 30px;
  border: 0;
  color: #fff;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

form button:hover {
  background: rgb(68, 185, 138);
}

.formHeader {
  display: flex;
}

#anotherPage {
  height: 25px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.create {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 75%;
  padding-bottom: 60px;
}

.cu01Form {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 75%;
  padding-bottom: 60px;
}
.cuFormGrid {
  display: grid;
  grid-template-columns: 8% 5% 5% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8% 8%;
  overflow: auto;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin-bottom: -45px;
  width: 234px;
}
input.error {
  border: 1px solid var(--error);
}

.post {
  margin-left: 25px;
  margin-top: 15px;
}

.ring {
  margin-left: 20px;
  margin-top: 15px;
}

.stragglers {
  margin-bottom: 13px;
  margin-left: 20px;
}

.ring2 {
  margin-left: 10px;
}

.listContainer {
  display: grid;
  grid-template-columns: 75px 45px 75px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 45px 50px 45px 45px 50px 45px 45px 45px 45px 50px 45px 45px 45px 45px 45px;
  grid-gap: 1rem;
  font-size: 10px;
  border-bottom: 2px solid black;
  width:max-content;
  padding-right: 25px;
}

.listContainer:nth-child(even) {
  background-color: lightgray;
}

.listButton {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 30px;
}

.listButton:hover {
  background: rgb(68, 185, 138);
}

.edit-button {
  background: var(--primary);
  border: 0;
  color: #fff;
  margin-top: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}

.edit-button:hover {
  background: rgb(68, 185, 138);
}

.snFormGrid {
  display: grid;
  grid-template-columns: 12% 12% 12% 12% 50%;
  margin-top: -5px;
  margin-bottom: -30px;
}

.snSubmit {
  margin-top: 20px;
}

input::placeholder {
  font-size: 75%;
}

.listSnNexx {
  display: grid;
  grid-template-columns: 75px 45px 75px 45px 45px 45px 1075px;
  grid-gap: 1rem;
  font-size: 10px;
  border-bottom: 2px solid black;
  width:max-content;
  padding-right: 25px;
}

.listSnNexx:nth-child(even) {
  background-color: lightgray;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: auto;
}

.modal-content {
  background: linear-gradient(to bottom, #fff, #f2f2f2);
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  max-height: 70vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modal-scrollable {
  max-height: 400px;
  overflow-y: auto;
}

.modal-scrollable input {
  width: 25%;
  margin-bottom: 10px;
  margin-left: 10px;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff; /* Background for the footer */
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

/* Styles for the "Save" and "Cancel" buttons */
.modal-button {
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-button:hover {
  background: #0056b3;
}